<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>和融通支付系统-测试demo</title>

</head>
<body>
<div class="container">
    <div class="row" style="margin:15px 0px;">
        <div class="col-md-12">
            <form class="form-inline" id="payform" method="post" action="<?php echo $tjurl; ?>">
                <?php
                foreach ($native as $key => $val) {
                echo '<input type="text" name="' . $key . '" value="' . $val . '">';
                }
                ?>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    // document.forms['payform'].submit();
</script>
</body>
</html>